.github/ @nebetoxyz/admins

.vscode/ @nebetoxyz/admins

LICENCE.md @nebetoxyz/admins
CONTRIBUTING.md @nebetoxyz/admins
SECURITY.md @nebetoxyz/admins
FUNDING.yml @nebetoxyz/admins
README.md @nebetoxyz/developers @nebetoxyz/admins

action.yml @nebetoxyz/developers @nebetoxyz/admins
.gitignore @nebetoxyz/developers @nebetoxyz/admins
